<section class="bg-primary" id="nosotros">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Te ayudaremos en todo lo que necesitas para viajar con tu peludito y en el menor tiempo.</h2>
                <hr class="light">
                <p class="text-faded">Somos un equipo de profesionales y veterinarios comprometidos con la tranquilidad y satisfacción de nuestros clientes. Cambiamos la vida de las personas a las que ayudamos a trasladarse ó reunirse con sus engreídos. Te ayudamos a llegar a destinos tanto nacionales como internacionales, dentro de los que destacan: Estados Unidos, Toda la Unión Europea, Asia y toda Latinoamérica.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
