<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>¿Necesitas viajar con tu mascota?</h1>
            <hr>
            <p><strong>Te ofrecemos toda la documentación que necesitas para cumplir con los requisitos
                 migratorios. Completa tus datos y uno de nuestros asesores veterinarios
                  se pondrá en contacto contigo!</strong></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
