<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>¿Necesitas viajar con tu mascotita?</h1>
            <hr>
            <p>Te ofrecemos toda la documentación que necesitas para cumplir con los requisitos
                 migratorios. Completa tus datos y <strong>uno de nuestros asesores veterinarios
                 </strong> se pondrá en contacto contigo!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
