 <!--
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Free Download at Start Bootstrap!</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
          </div>
      </div>
  </aside>
 -->

  <section id="nuestroEquipo" class="team-section">

    <div class="container text-center">

        <h2 class="team-title">
            5 años trabajando para reunir a las familias con sus peluditos
        </h2>

        <div class="row team-container">

            <div class="col-md-2 col-sm-4 col-xs-6 team-member">
                <img src="https://i.pravatar.cc/120?img=1" alt="">
                <h4>Dr. Pedro Ospina</h4>
                <p>Médico Veterinario</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 team-member">
                <img src="https://i.pravatar.cc/120?img=2" alt="">
                <h4>Dr. Miguel Paredes</h4>
                <p>Médico Veterinario</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 team-member">
                <img src="https://i.pravatar.cc/120?img=3" alt="">
                <h4>Dra. Gabriela Alva</h4>
                <p>Médico Veterinario</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 team-member">
                <img src="https://i.pravatar.cc/120?img=4" alt="">
                <h4>Dra. Gabriela Martinez</h4>
                <p>Médico Veterinario</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 team-member">
                <img src="https://i.pravatar.cc/120?img=5" alt="">
                <h4>Lorena Verau</h4>
                <p>Asesoría en Viajes</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 team-member">
                <img src="https://i.pravatar.cc/120?img=6" alt="">
                <h4>Eduardo Cava</h4>
                <p>Pet Traveler</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 team-member">
                <img src="https://i.pravatar.cc/120?img=7" alt="">
                <h4>Ana López</h4>
                <p>Coordinadora</p>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 team-member">
                <img src="https://i.pravatar.cc/120?img=8" alt="">
                <h4>María Rojas</h4>
                <p>Atención al cliente</p>
            </div>

        </div>

    </div>

</section>
